.medecinprofil {
  background-color: white;
  margin-top: 40px;
  margin-left: 350px;
  margin-bottom: 50px;
  border-radius: 8px;
  padding: 50px;
  box-shadow: grey;
  color: black !important;
  height: 600px;
  width: 1000px;
}
