.RdvCheck {
  width: 80vw;
  margin: 100px;
  display: flex;
  justify-content: space-between;
  line-height: 2.5;
}

.loginRdv {
  background-color: white;
  height: 35vh;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  border-top: 5px solid #0f044c;
}

.informationToRegister {
  background-color: rgba(255, 255, 255, 0.336);
  padding: 50px;
  border-radius: 8px;
  margin: 10px;
  transform: translate(0, -50px);
  position: relative;
}

.informationToRegister ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: start;
}

.informationToRegister h5 {
  text-align: left;
}
